---
import "@/assets/app.css";
---

<!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<body class="bg-base-300 min-h-screen">
  <main class="container mx-auto p-4">
    <slot />
  </main>
  <footer class="text-center p-4 mt-8 text-base-content text-opacity-60">
    <p>&copy; {new Date().getFullYear()} あしたぼホームページ</p>
  </footer>
</body>
</html>